@import "tailwindcss";

body {
  background-color: rgb(248 250 252); /* Стили Slate-50 вручную, так как @apply в v4 работает внутри слоев */
  color: rgb(15 23 42); /* Slate-900 */
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Красивый скроллбар */
@utility minimal-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(203 213 225); /* slate-300 */
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148 163 184); /* slate-400 */
  }
}