@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 antialiased minimal-scrollbar;
}

/* Стили для красивых скроллбаров в колонках */
@layer utilities {
  .minimal-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .minimal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .minimal-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full hover:bg-slate-400;
  }
}